@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body{
      @apply bg-[#FFF5F0];
      margin: 0;
      padding: 0;
}
p,li{
      font-family:var(--font-outfit);
      color:black;
}